@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-calc {
  @apply w-full sm:w-1/2 md:w-1/2 inline-flex justify-center bg-brightred-50 py-2 px-12 rounded font-bold drop-shadow-md text-white md:hover:bg-brightred-200 transition ease-in-out duration-300 active:bg-brightred-500;
}

.nav-lang {
    @apply cursor-pointer inline-block text-navy-500 md:hover:text-navy-200 mr-2 sm:mr-4 mt-2 md:mt-0 sm:mt-0 text-xs sm:text-xs md:text-base 
}
